body {
    background-color: rgb(15, 16, 23);
}

.ATheader {
    overflow: hidden;
    background-color: rgb(70, 191, 219);
    padding: 2px 6px;
}
.ATheader a {
    float: left;
    color: darkslategrey;
    text-align: center;
    font-size: 24px;

    padding: 6px;
    border-radius: 6px;
}
.ATheader a.logo {
    font-size: 30;
}
.ATheader a:hover {
    background-color: slategray;
    color: black;
}
.ATheader a.current {
    background-color: lightgrey;
    color: darkslategrey;
}

.ATheaderbtns {
    float: right;
}

